<div class="row">
    <div class="col-sm-12">
        <h1>
            Voice Analyzer {{username}}
        </h1>
    </div>
</div>
<div class="row well">
    <div class="col-sm-8">
        Want to learn more about how you come across to the world? Want to learn more about your 
        friends and followers Twitter presence? Enter a Twitter handle and see when that account is most active, 
        what sentiments the account tends to present, what words are most commonly used, and other data points.
    </div>
    <div class="col-sm-4">
        <input class="form-control" [(ngModel)]="username" placeholder="Twitter VV user" name="uname">
        <button (click)="getTwitterData()">Analyze</button>
        <div style="color:red;">
            {{errorMessage}}
        </div>
    </div>
</div>
<div *ngIf="!showAnalysis">
    {{statusMessage}}
</div>
<div *ngIf="showAnalysis">
    <div class="row">
        <div class="col-sm-12">
            <h4>Most Used Words</h4>
            <canvas id='my_canvas' height="400" width="600" ></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="graph-title">Day of the week</h4>
            What days of the week do you tend to tweet most?
            <!--{{ make_percentage_line_graph('DOW', dow_data, 350, 400, 'dayOfWeek','percentage', 'Day of Week', 'Percent of Tweets') }}-->
        </div>
        <div class="col-sm-6">
            <h4 class="graph-title">Hour of the day</h4>
            When do you tweet during the day?
            <!--{{ make_percentage_line_graph('HOD', hod_data, 350, 400, 'hourOfDay','percentage', 'Hour of Day', 'Percent of Tweets') }}-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Sentiment Analysis</h4>
            Based on the NRC Lexicon, what is the overall sentiment of the words in your tweets?
            <div id="sentimentGraphEmot">

            </div>
        </div>
        <div class="col-md-6">
            <h4>Sentiment Analysis</h4>
            Based on the NRC Lexicon, what is the overall sentiment of the words in your tweets?
            <div id="sentimentGraphHoriz">

            </div>
        </div>
    </div>
</div>
