<h1>
    Voice Analyzer {{username}}
</h1>
<div class="row well">
    <div class="col-sm-8">
        Want to learn more about how you come across to the world? Want to learn more about your 
        friends and followers Twitter presence? Enter a Twitter handle and see when that account is most active, 
        what sentiments the account tends to present, what words are most commonly used, and other data points.
    </div>
    <div class="col-sm-4">
        <form method="POST">
            <button type="submit">Analyze</button>
        </form>
    </div>
</div>